<div class="container">
    <!-- <div class="index-header d-flex justify-content-center mt-3">
      <h1>Design + Code</h1>
    </div> -->
    <div class="row">
      <div class="box col-12 col-sm-6 col-lg-4">
        <div class="index-card mt-3">
          <img class="img-fluid" src="assets/501.png" alt="Responsive image" />
          <img
            class="hidden img-fluid"
            src="assets/502.png"
            alt="Responsive image"
          />
        </div>
      </div>
      <div class="box col-12 col-sm-6 col-lg-4">
        <div class="index-card mt-3">
          <img class="img-fluid" src="assets/501.png" alt="Responsive image" />
          <img
            class="hidden img-fluid"
            src="assets/502.png"
            alt="Responsive image"
          />
          <div class="index-card-body"></div>
        </div>
      </div>
      <div class="box col-12 col-sm-6 col-lg-4">
        <div class="index-card mt-3">
          <img class="img-fluid" src="assets/501.png" alt="Responsive image" />
          <img
            class="hidden img-fluid"
            src="assets/502.png"
            alt="Responsive image"
          />
          <div class="index-card-body"></div>
        </div>
      </div>
      <div class="box col-12 col-sm-6 col-lg-4">
        <div class="index-card mt-3">
          <img class="img-fluid" src="assets/501.png" alt="Responsive image" />
          <img
            class="hidden img-fluid"
            src="assets/502.png"
            alt="Responsive image"
          />
          <div class="index-card-body"></div>
        </div>
      </div>
      <div class="box col-12 col-sm-6 col-lg-4">
        <div class="index-card mt-3">
          <img class="img-fluid" src="assets/501.png" alt="Responsive image" />
          <img
            class="hidden img-fluid"
            src="assets/502.png"
            alt="Responsive image"
          />
          <div class="index-card-body"></div>
        </div>
      </div>
      <div class="box col-12 col-sm-6 col-lg-4">
        <div class="index-card mt-3">
          <img class="img-fluid" src="assets/501.png" alt="Responsive image" />
          <img
            class="hidden img-fluid"
            src="assets/502.png"
            alt="Responsive image"
          />
          <div class="index-card-body"></div>
        </div>
      </div>
    </div>
